.wrap {
  width: 500px;

  margin: 0 auto;
  > select {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.show01, .show02 {
  display: none;
  
   &.active {
    display: block;
  }
}

.show01 {
  img {
    max-width: 80%;
    margin-top: 10px;
  }
}

.show02 {
  p {
    max-width: 80%;
    margin-top: 10px;
    line-height: 1.8;
  }
}